/* Flowers Shop Styles */
/* Universal style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}


/* Header Section Styles */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 20px 0px;
    background: rgba(236, 103, 132, 0.89);
}

#logo{
    color: White;
    font-style: italic;
}
#logo span{
    font-size: 50px;
}
#navbar > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar ul li{
    list-style: none;
    padding-right: 40px;
}
#navbar ul li a{
    font-size: large;
    font-weight: 600;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding:0.18vw;
    border: 3px solid transparent;  
}

#navbar ul li a:hover,
#navbar ul li a.active{
    color: #6d6d6d;
    background: white;
    padding:0.18vw;
    border: 3px solid white;
    border-radius: 2px;
}


/* Main Content Styles */

/* background */
#bg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 0px 200px;
    height: 90vh;
}

.bg_content{
    max-width: 28vw;
}

#bg_title{
    font-size: 60px;
    margin-bottom: 32px;
}

#bg_text{
    text-align: justify;
    margin-bottom: 32px;
}

#bg_button{
    padding: 15px 30px;
    border: 0;
    border-radius:3px;
    background: #E55473;
}

/* Featured Flowers Section */
.featured_flowers{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 170px;
}

.featured_flowers_content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
}

.featured_flowers_content h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.featured_flowers_content p{
    text-align: center;
    margin-bottom: 50px;
}


.featured_flowers_image{
    display: flex;
    align-items: center;
    gap: 20px;
}

.ffi_holder{
    height: 40vh;
    width: 20vw;
    position: relative;
}

.ffi_holder img{
    position: absolute;
    height: 30vh;
    bottom: 0;
}

#img1{
    left: 21%;
}

#img2{
    left: 16%;
}

#img3{
    left: 25%;
}

.ffi_holder h3{
    position: absolute;
    bottom: -40px;
    left: 30%;
}

.ffi_holder:nth-child(1){
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.ffi_holder:nth-child(2){
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.ffi_holder:nth-child(3){
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* Footer Section Styles */